Repository cline/cline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saoudrizwan, @garoth, @sjf, @nickbaumann98, @celestial-vault

initial TDD e2e tests in place; version command does JSON output.
  cli/e2e/helpers_test.go
  cli/e2e/json_output_test.go
  cli/pkg/cli/output/json.go
  cli/pkg/cli/output/json_test.go
  cli/pkg/cli/version.go
Owners: none

composing verbose + json output
  cli/cmd/cline/main.go
  cli/e2e/helpers_test.go
  cli/e2e/json_output_test.go
  cli/pkg/cli/display/renderer.go
  cli/pkg/cli/global/cline-clients.go
  cli/pkg/cli/global/fix_verbose.sh
  cli/pkg/cli/instances.go
  cli/pkg/cli/output/json.go
  cli/pkg/cli/task.go
  cli/pkg/cli/task/manager.go
  plans/cli_json_all_implementation_plan.md
Owners: none

add comprehensive output tests for json, plain and rich text outputs for interactive vs. batch, streaming vs. non-streaming, standard vs. verbose vs. error outputs.
  cli/TEXT_LEAKAGE_FIXES_NEEDED.md
  cli/cmd/cline/main.go
  cli/e2e/batch_interactive_test.go
  cli/e2e/error_scenarios_test.go
  cli/e2e/format_validation_test.go
  cli/e2e/helpers_test.go
  cli/e2e/plain_complete_test.go
  cli/e2e/rich_complete_test.go
  cli/e2e/streaming_test.go
  cli/pkg/cli/global/registry.go
  cli/pkg/cli/instances.go
  cli/pkg/cli/output/json.go
  cli/scripts/README-demo-json-output.md
  cli/scripts/demo-json-output.sh
  plans/cli_json_all_implementation_plan.md
Owners: none

initial json output support
  .vscode/settings.json
  cli/cmd/cline/main.go
  cli/e2e/json_output_test.go
  cli/pkg/cli/auth.go
  cli/pkg/cli/config/manager.go
  cli/pkg/cli/instances.go
  cli/pkg/cli/logs.go
  cli/pkg/cli/task.go
Owners: none

robustly passing tests
  cli/e2e/helpers_test.go
  cli/e2e/json_output_test.go
  cli/e2e/mixed_stress_test.go
Owners: none

fix: complete JSON output implementation
  cli/cmd/cline/main.go
  cli/e2e/default_update_test.go
  cli/e2e/json_output_test.go
  cli/e2e/start_list_test.go
  cli/pkg/cli/auth.go
  cli/pkg/cli/global/cline-clients.go
  cli/pkg/cli/global/global.go
  cli/pkg/cli/instances.go
  cli/pkg/cli/task.go
  cli/pkg/cli/task/manager.go
  plans/cli_json_all_implementation_plan.md
Owners: none

refactor: update JSON output tests and implementation plan
  cli/e2e/json_output_test.go
  plans/cli_json_all_implementation_plan.md
Owners: none

refactor(cli): extract JSON output validation to helper function
  cli/cmd/cline/main.go
  cli/pkg/cli/auth.go
  cli/pkg/cli/output/validate.go
  cli/pkg/cli/task.go
Owners: none

updates before refactor
  .vscode/settings.json
  cli/e2e/format_validation_test.go
  cli/pkg/cli/global/fix_verbose.sh
  cli/pkg/cli/task/manager.go
  plans/cli_json_all_implementation_plan.md
Owners: none

enhance error handling tests for JSON output to ensure no text output occurs during instance operations and validate error responses are properly formatted in JSON.
  cli/TEXT_LEAKAGE_FIXES_NEEDED.md
  cli/e2e/error_scenarios_test.go
  cli/e2e/format_validation_test.go
  plans/cli_json_all_implementation_plan.md
Owners: none

plan
  plans/cli_json_all_implementation_plan.md
Owners: none

outputting error in json when in json mode
  cli/pkg/cli/task.go
  cli/scripts/demo-json-output.sh
Owners: none

plan updates
  plans/cli_json_all_implementation_plan.md
Owners: none

refactor(cli): encapsulate output format checks in Config methods
  .vscode/settings.json
  cli/cmd/cline/main.go
  cli/pkg/cli/auth.go
  cli/pkg/cli/config/manager.go
  cli/pkg/cli/display/renderer.go
  cli/pkg/cli/display/tool_renderer.go
  cli/pkg/cli/global/cline-clients.go
  cli/pkg/cli/global/global.go
  cli/pkg/cli/global/registry.go
  cli/pkg/cli/instances.go
  cli/pkg/cli/logs.go
  cli/pkg/cli/output/validate.go
  cli/pkg/cli/task.go
  cli/pkg/cli/task/manager.go
  cli/pkg/cli/version.go
  plans/cli_json_all_implementation_plan.md
Owners: none

fix: restore lipgloss color methods after rebase conflict resolution
  cli/pkg/cli/display/renderer.go
  cli/pkg/cli/display/tool_renderer.go
Owners: none

updated bad tests; removed non-output-related test
  cli/e2e/batch_interactive_test.go
  cli/e2e/error_scenarios_test.go
  cli/e2e/verbose_comprehensive_test.go
Owners: none

refactor(cli): standardize JSON output format with structured response
  cli/e2e/format_validation_test.go
  cli/e2e/streaming_test.go
  cli/e2e/verbose_comprehensive_test.go
  cli/pkg/cli/global/cline-clients.go
  cli/pkg/cli/instances.go
  cli/pkg/cli/output/json.go
  cli/pkg/cli/task.go
  cli/pkg/cli/updater/updater.go
  plans/cli_json_all_implementation_plan.md
Owners: none

chore: restore .vscode/settings.json to merge base (remove personal color settings)
  .vscode/settings.json
Owners: none

`go fmt` on CLI code; remove md file tracking progress during the work.
  cli/e2e/error_scenarios_test.go
  cli/e2e/format_validation_test.go
  cli/e2e/helpers_test.go
  cli/e2e/plain_complete_test.go
  cli/e2e/rich_complete_test.go
  cli/e2e/start_list_test.go
  cli/e2e/streaming_test.go
  cli/e2e/verbose_comprehensive_test.go
  cli/pkg/cli/auth/auth_cline_provider.go
  cli/pkg/cli/auth/byo_quick_setup.go
  cli/pkg/cli/auth/models_list_fetch.go
  cli/pkg/cli/auth/providers_list.go
  cli/pkg/cli/auth/wizard_byo.go
  cli/pkg/cli/auth/wizard_byo_bedrock.go
  cli/pkg/cli/auth/wizard_byo_oca.go
  cli/pkg/cli/config/settings_renderer.go
  cli/pkg/cli/display/banner.go
  cli/pkg/cli/display/markdown_renderer.go
  cli/pkg/cli/display/renderer.go
  cli/pkg/cli/display/segment_streamer.go
  cli/pkg/cli/display/tool_result_parser.go
  cli/pkg/cli/global/cline-clients.go
  cli/pkg/cli/global/registry.go
  cli/pkg/cli/handlers/handler.go
  cli/pkg/cli/handlers/say_handlers.go
  cli/pkg/cli/instances.go
  cli/pkg/cli/output/coordinator.go
  cli/pkg/cli/output/input_model.go
  cli/pkg/cli/output/json.go
  cli/pkg/cli/sqlite/locks.go
  cli/pkg/cli/task.go
  cli/pkg/cli/task/input_handler.go
  cli/pkg/cli/task/manager.go
  cli/pkg/cli/task/settings_parser.go
  cli/pkg/cli/updater/updater.go
  cli/pkg/generated/providers.go
  plans/cli_json_all_implementation_plan.md
Owners: none

refactor: remove CodeSupernova model and related code
  src/core/controller/models/refreshOpenRouterModels.ts
  src/shared/api.ts
  webview-ui/src/components/chat/Announcement.tsx
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
Owners: none

hel
  src/core/api/providers/cline.ts
Owners: none

Feat: Add MiniMax AI provider (#7094)
  .changeset/fast-fans-pick.md
  cli/pkg/cli/task/settings_parser.go
  proto/cline/models.proto
  src/core/api/index.ts
  src/core/api/providers/minimax.ts
  src/core/storage/StateManager.ts
  src/core/storage/utils/state-helpers.ts
  src/shared/api.ts
  src/shared/proto-conversions/models/api-configuration-conversion.ts
  src/shared/storage/state-keys.ts
  webview-ui/src/components/settings/ApiOptions.tsx
  webview-ui/src/components/settings/providers/MiniMaxProvider.tsx
  webview-ui/src/components/settings/utils/providerUtils.ts
  webview-ui/src/utils/validate.ts
Owners: @celestial-vault

feat(settings): allow Minimax models with :free suffix for Cline provider
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
Owners: none

glm-4.6 system prompt adjustments
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-basic.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-no-browser.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-no-focus-chain.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-no-mcp.snap
  src/core/prompts/system-prompt/variants/glm/config.ts
  src/core/prompts/system-prompt/variants/glm/overrides.ts
  src/core/prompts/system-prompt/variants/glm/template.ts
Owners: none

fix: bug fixes
  src/core/controller/models/refreshOpenRouterModels.ts
Owners: none

Remove old models (#7118)
  src/core/api/providers/cline.ts
  src/core/controller/models/refreshOpenRouterModels.ts
  src/shared/api.ts
  webview-ui/src/components/chat/Announcement.tsx
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
Owners: none

Revise tip for opening Cline on the right
  README.md
Owners: @saoudrizwan, @nickbaumann98

feat(settings): allow Minimax models with :free suffix for Cline provider (#7119)
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
Owners: none

Fix MCP tool use with images
  src/core/api/transform/ToolUseHandler.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
  src/core/task/tools/ToolExecutorCoordinator.ts
  src/core/task/tools/utils/ToolResultUtils.ts
Owners: none

refactor: reorganize Enterprise tab structure in documentation
  docs/docs.json
Owners: none

fix: bug fixes
  webview-ui/src/components/settings/sections/FeatureSettingsSection.tsx
Owners: none

fix: bug fixes
  webview-ui/src/components/settings/sections/FeatureSettingsSection.tsx
Owners: none

fix mcp tool converter with reserved keys
  src/core/prompts/system-prompt/registry/ClineToolSet.ts
  src/core/prompts/system-prompt/spec.ts
Owners: none

Fix apply patch streaming issue
  src/core/api/transform/ToolUseHandler.ts
  src/core/task/tools/handlers/ApplyPatchHandler.ts
Owners: none

gpt5 system prompt adjustments
  package.json
  src/core/prompts/system-prompt/__tests__/__snapshots__/openai_gpt_5-basic.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/openai_gpt_5-no-browser.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/openai_gpt_5-no-focus-chain.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/openai_gpt_5-no-mcp.snap
  src/core/prompts/system-prompt/__tests__/integration.test.ts
  src/core/prompts/system-prompt/tools/attempt_completion.ts
  src/services/error/providers/PostHogErrorProvider.ts
  src/services/telemetry/TelemetryService.ts
  src/services/telemetry/providers/opentelemetry/OpenTelemetryTelemetryProvider.ts
  src/services/telemetry/providers/posthog/PostHogTelemetryProvider.ts
Owners: none

changeset
  .changeset/chubby-buckets-fetch.md
  package.json
Owners: none

glm-4.6 system prompt adjustments (#7121)
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-basic.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-no-browser.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-no-focus-chain.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/zai_glm_4_6-no-mcp.snap
  src/core/prompts/system-prompt/variants/glm/config.ts
  src/core/prompts/system-prompt/variants/glm/overrides.ts
  src/core/prompts/system-prompt/variants/glm/template.ts
Owners: none

add vercel-ai-gateway to supported provider & clean up
  src/core/api/transform/StreamingToolCallHandler.ts
  src/core/api/transform/tool-use-handler.ts
  src/core/task/index.ts
  src/utils/model-utils.ts
Owners: none

simplfy apply patch handler
  src/core/task/tools/handlers/ApplyPatchHandler.ts
Owners: none

refactor: use separate initialize and get for banner service
  src/extension.ts
  src/services/banner/BannerService.test.ts
  src/services/banner/BannerService.ts
Owners: none

.github/CODEOWNERS:

/docs/
/.github/   @saoudrizwan @garoth @sjf
/README.md  @saoudrizwan @nickbaumann98
/src/core/storage/ @celestial-vault
