Repository cline/cline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saoudrizwan, @garoth, @sjf, @nickbaumann98, @celestial-vault

.github/CODEOWNERS:

/docs/
/.github/   @saoudrizwan @garoth @sjf
/README.md  @saoudrizwan @nickbaumann98
/src/core/storage/ @celestial-vault

Support OpenRouter presets entry
  .changeset/wet-islands-film.md
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
  webview-ui/src/utils/validate.ts
Owners: none

Finalizing...
  src/core/api/providers/anthropic.ts
  src/core/api/providers/cline.ts
  src/core/api/providers/gemini.ts
  src/core/api/providers/mistral.ts
  src/core/api/providers/openai-native.ts
  src/core/api/providers/vertex.ts
  src/core/api/transform/ToolUseHandler.ts
  src/core/api/transform/stream.ts
  src/core/api/transform/tool-call-processor.ts
  src/core/prompts/system-prompt/__tests__/PromptRegistry.test.ts
  src/core/prompts/system-prompt/__tests__/integration.test.ts
  src/core/prompts/system-prompt/__tests__/matcher-test.ts
  src/core/prompts/system-prompt/registry/ClineToolSet.ts
  src/core/prompts/system-prompt/tools/focus_chain.ts
  src/core/prompts/system-prompt/tools/list_code_definition_names.ts
  src/core/prompts/system-prompt/tools/list_files.ts
  src/core/prompts/system-prompt/types.ts
  src/core/prompts/system-prompt/variants/gpt-5/config.ts
  src/core/prompts/system-prompt/variants/native-next-gen/config.ts
  src/core/prompts/system-prompt/variants/next-gen/config.ts
  src/core/task/index.ts
  src/shared/ExtensionMessage.ts
  src/utils/model-utils.ts
Owners: none

feat: Adding oracle code assist to the cli
  .changeset/smooth-items-hammer.md
  cli/pkg/cli/auth/models_list_fetch.go
  cli/pkg/cli/auth/providers_byo.go
  cli/pkg/cli/auth/providers_list.go
  cli/pkg/cli/auth/update_api_configurations.go
  cli/pkg/cli/auth/wizard_byo.go
  cli/pkg/cli/auth/wizard_byo_oca.go
  cli/pkg/generated/providers.go
  scripts/cli-providers.mjs
Owners: none

MCP tools converter
  src/core/api/transform/ToolUseHandler.ts
  src/core/prompts/system-prompt/registry/ClineToolSet.ts
  src/core/prompts/system-prompt/spec.ts
  src/core/task/ToolExecutor.ts
  src/core/task/tools/ToolExecutorCoordinator.ts
  src/shared/mcp.ts
Owners: none

remove ClineDefaultTool.MCP_USE
  src/core/prompts/system-prompt/variants/gpt-5/config.ts
  src/core/prompts/system-prompt/variants/gpt-5/template.ts
  src/core/prompts/system-prompt/variants/native-next-gen/config.ts
  src/core/prompts/system-prompt/variants/native-next-gen/template.ts
Owners: none

Update snapshot
  src/core/prompts/system-prompt/__tests__/__snapshots__/cline_claude_4_5_sonnet-basic.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/cline_claude_4_5_sonnet-no-browser.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/cline_claude_4_5_sonnet-no-focus-chain.snap
Owners: none

feat: Adding oracle code assist to the cli (#7004)
  .changeset/smooth-items-hammer.md
  cli/pkg/cli/auth/models_list_fetch.go
  cli/pkg/cli/auth/providers_byo.go
  cli/pkg/cli/auth/providers_list.go
  cli/pkg/cli/auth/update_api_configurations.go
  cli/pkg/cli/auth/wizard_byo.go
  cli/pkg/cli/auth/wizard_byo_oca.go
  cli/pkg/generated/providers.go
  scripts/cli-providers.mjs
Owners: none

comments
  src/core/prompts/system-prompt/variants/generic/config.ts
  src/core/prompts/system-prompt/variants/gpt-5/config.ts
  src/core/prompts/system-prompt/variants/variant-builder.ts
Owners: none

changeset
  .changeset/solid-tires-yell.md
  package-lock.json
Owners: none

add logic to support Databricks as a provider
  proto/cline/models.proto
  src/core/api/index.ts
  src/core/api/providers/databricks.ts
  src/core/storage/StateManager.ts
  src/core/storage/utils/state-helpers.ts
  src/shared/api.ts
  src/shared/proto-conversions/models/api-configuration-conversion.ts
  src/shared/storage/state-keys.ts
  webview-ui/src/components/settings/ApiOptions.tsx
  webview-ui/src/components/settings/common/BaseUrlField.tsx
  webview-ui/src/components/settings/providers/DatabricksProvider.tsx
  webview-ui/src/components/settings/utils/providerUtils.ts
Owners: @celestial-vault

documentation and changeset
  .changeset/solid-tires-yell.md
  README.md
  docs/provider-config/databricks.mdx
Owners: @saoudrizwan, @nickbaumann98

Un-hard-code FeatureFlagsServive::getHooksEnabled()
  src/services/feature-flags/FeatureFlagsService.ts
Owners: none

Add missing docs
  src/core/hooks/hook-factory.ts
Owners: none

feat(hooks): Initial implementation of hooks UI using background terminal UI
  src/core/hooks/HookProcess.ts
  src/core/hooks/hook-factory.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
  src/shared/ExtensionMessage.ts
  src/shared/combineHookSequences.ts
  src/shared/proto-conversions/cline-message.ts
  webview-ui/src/components/chat/ChatRow.tsx
  webview-ui/src/components/chat/ChatView.tsx
  webview-ui/src/components/chat/task-header/TaskTimeline.tsx
Owners: none

Improve TaskCancel hook UI
  hooks_mvp.md
  src/core/task/index.ts
Owners: none

Hook discovery improvements
  src/core/hooks/HookDiscoveryCache.ts
  src/core/hooks/hook-factory.ts
  src/extension.ts
Owners: none

Improvements to hooks error messaging
  src/core/hooks/HookError.ts
  src/core/hooks/hook-factory.ts
  src/core/task/ToolExecutor.ts
  src/services/feature-flags/FeatureFlagsService.ts
  src/shared/ExtensionMessage.ts
  webview-ui/src/components/chat/HookMessage.tsx
Owners: none

Hooks UI improvements
  proto/cline/task.proto
  src/core/controller/index.ts
  src/core/controller/task/cancelHookExecution.ts
  src/core/hooks/HookProcess.ts
  src/core/hooks/hook-factory.ts
  src/core/task/TaskState.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
  src/core/task/message-state.ts
  src/shared/ExtensionMessage.ts
  src/shared/combineHookSequences.ts
  webview-ui/src/components/chat/ChatRow.tsx
Owners: none

Separate hooks UI into separate files
  webview-ui/src/components/chat/ChatRow.tsx
  webview-ui/src/components/chat/HookMessage.tsx
  webview-ui/src/components/chat/PendingToolInfo.tsx
Owners: none

Hooks hardening and handling edge cases
  src/core/hooks/HookProcess.ts
  src/core/hooks/HookProcessRegistry.ts
  src/core/hooks/edge-cases-recovery-plan.md
  src/core/hooks/hook-factory.ts
  src/core/hooks/implementation-plan.md
  src/extension.ts
Owners: none

Fix failing tests
  src/core/hooks/HookDiscoveryCache.ts
  src/core/hooks/__tests__/hook-factory.test.ts
  src/core/hooks/__tests__/taskcancel.test.ts
  src/core/hooks/__tests__/taskresume.test.ts
  src/core/hooks/__tests__/taskstart.test.ts
  src/core/hooks/__tests__/user-prompt-submit.test.ts
  src/core/hooks/edge-cases-recovery-plan.md
  src/core/hooks/hook-factory.ts
  src/core/task/ToolExecutor.ts
  src/extension.ts
  webview-ui/src/components/chat/ChatRow.tsx
  webview-ui/src/components/chat/HookMessage.tsx
  webview-ui/src/components/chat/constants.ts
Owners: none

Changes from usability feedback
  src/core/task/index.ts
  webview-ui/src/components/chat/HookMessage.tsx
Owners: none

Demoed
  src/core/task/index.ts
  webview-ui/src/components/chat/HookMessage.tsx
  webview-ui/src/components/chat/chat-view/hooks/useMessageHandlers.ts
Owners: none

test: verify linting fixes
  proto/cline/hooks.proto
  src/core/hooks/hook-factory.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
  src/shared/ExtensionMessage.ts
  src/shared/combineHookSequences.ts
  webview-ui/src/components/chat/HookMessage.tsx
Owners: none

Refactored away loadTaskStateWithoutWorkflow
  src/core/controller/index.ts
  src/core/task/index.ts
  src/services/feature-flags/FeatureFlagsService.ts
Owners: none

Fix unsafe return in finally block
  src/core/controller/index.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
Owners: none

Getting things working again
  src/core/task/index.ts
Owners: none

Fixing cancel behaviors
  src/core/controller/index.ts
  src/core/hooks/HookProcess.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
  webview-ui/src/components/chat/HookMessage.tsx
  webview-ui/src/components/chat/chat-view/components/layout/ActionButtons.tsx
  webview-ui/src/components/chat/chat-view/hooks/useMessageHandlers.ts
  webview-ui/src/components/chat/chat-view/shared/buttonConfig.ts
Owners: none

Simplify and improve console.log() output from hooks
  src/core/controller/index.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
Owners: none

Add examples to .clinerules/hooks/ directory
  .clinerules/hooks/PreToolUse.example
  .clinerules/hooks/README.md
  .clinerules/hooks/TaskCancel.example
  .clinerules/hooks/TaskResume.example
  .clinerules/hooks/TaskStart.example
  .clinerules/hooks/UserPromptSubmit.example
Owners: none

Trying another fix
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
  webview-ui/src/components/chat/HookMessage.tsx
  webview-ui/src/components/chat/chat-view/hooks/useMessageHandlers.ts
Owners: none

Remove unnecessary files from branch
  .clinerules/hooks/PostToolUse.example
  .clinerules/hooks/TaskCancel.example
  .clinerules/hooks/TaskResume.example
  .clinerules/hooks/UserPromptSubmit.example
  hooks_mvp.md
  src/core/hooks/implementation-plan.md
  src/shared/ExtensionMessage.ts
  src/shared/proto-conversions/cline-message.ts
Owners: none

fix: resolve cancel functionality in PostToolUse hook using flag pattern
  src/core/task/ToolExecutor.ts
Owners: none

Remove unnecessary polling pattern for hook cancellation
  src/core/task/index.ts
Owners: none

fix: add cancel button support for TaskResume and UserPromptSubmit hooks
  src/core/task/index.ts
Owners: none

remove cancelHookExecution() in favor of cancelTask()
  proto/cline/task.proto
  src/core/controller/index.ts
  src/core/controller/task/cancelHookExecution.ts
  src/services/feature-flags/FeatureFlagsService.ts
  webview-ui/src/components/chat/HookMessage.tsx
Owners: none

Fixing cancel behavior
  src/core/controller/index.ts
  src/core/hooks/HookProcess.ts
  src/core/task/index.ts
Owners: none

Fixing cancel behavior
  src/core/task/index.ts
Owners: none

refine rules as well as rules evaluations in BannerService
  src/services/banner/BannerService.ts
  src/shared/ClineBanner.ts
Owners: none

Fix resume
  src/core/task/index.ts
Owners: none
