Repository cline/cline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saoudrizwan, @garoth, @sjf, @nickbaumann98, @celestial-vault

Add model list to the root remote config
  src/shared/remote-config/schema.ts
Owners: none

Add tests
  src/shared/remote-config/__tests__/schema.test.ts
Owners: none

Add type
  src/shared/remote-config/schema.ts
Owners: none

Add MCP settings to the remote config
  src/shared/remote-config/schema.ts
Owners: none

Add storybook for TaskHeader with CheckpointError
  webview-ui/.storybook/themes.ts
  webview-ui/src/components/chat/task-header/TaskHeader.stories.tsx
Owners: none

feat(telemetry): add policy-based telemetry control with env override
  .env.example
  src/core/controller/index.ts
  src/services/telemetry/TelemetryProviderFactory.ts
  src/services/telemetry/TelemetryService.ts
  src/services/telemetry/TelemetrySettingsPolicyManager.ts
Owners: none

clean up
  webview-ui/src/components/chat/task-header/CheckpointError.tsx
  webview-ui/src/components/ui/alert.tsx
  webview-ui/src/components/ui/button.tsx
Owners: none

feat(telemetry): Add OpenTelemetry metrics infrastructure
  METRICS_IMPLEMENTATION_SUMMARY.md
  src/services/telemetry/TelemetryProviderFactory.ts
  src/services/telemetry/providers/ITelemetryProvider.ts
  src/services/telemetry/providers/opentelemetry/OpenTelemetryTelemetryProvider.ts
  src/services/telemetry/providers/posthog/PostHogTelemetryProvider.ts
Owners: none

feat: Set default OpenTelemetry exporters to console,otlp (#7129)
  .github/workflows/publish-nightly.yml
  .github/workflows/publish.yml
Owners: @saoudrizwan, @garoth, @sjf

fix: stop event propagation on task header button clicks
  webview-ui/src/components/chat/task-header/buttons/CopyTaskButton.tsx
  webview-ui/src/components/chat/task-header/buttons/DeleteTaskButton.tsx
  webview-ui/src/components/chat/task-header/buttons/OpenDiskConversationHistoryButton.tsx
Owners: none

fix: stop event propagation on task header button clicks (#7139)
  webview-ui/src/components/chat/task-header/buttons/CopyTaskButton.tsx
  webview-ui/src/components/chat/task-header/buttons/DeleteTaskButton.tsx
  webview-ui/src/components/chat/task-header/buttons/OpenDiskConversationHistoryButton.tsx
Owners: none

update apply patch handler
  src/core/api/providers/minimax.ts
  src/core/prompts/system-prompt/variants/variant-builder.ts
  src/core/task/tools/handlers/ApplyPatchHandler.ts
Owners: none

fix: eliminate circular dependency in otel-config.ts
  src/services/telemetry/TelemetryProviderFactory.ts
  src/services/telemetry/TelemetryService.ts
  src/services/telemetry/providers/opentelemetry/OpenTelemetryClientProvider.ts
  src/shared/services/config/otel-config.ts
Owners: none

Revise tip for opening Cline on the right (#7122)
  README.md
Owners: @saoudrizwan, @nickbaumann98

Add Cerebras GLM 4.6 model support and set as default
  src/shared/api.ts
Owners: none

add changeset
  .changeset/calm-ends-drop.md
Owners: none

Remove <think> tags for models that prefer this tag over <thinking>
  .changeset/tame-papers-remain.md
  src/core/task/index.ts
Owners: none

Add Cerebras GLM 4.6 model support and set as default (#7143)
  .changeset/calm-ends-drop.md
  src/shared/api.ts
Owners: none

revert version regex
  src/core/api/transform/tool-call-processor.ts
  src/utils/model-utils.ts
Owners: none

Added Nous CLI support
  cli/pkg/cli/auth/byo_quick_setup.go
  cli/pkg/cli/auth/providers_byo.go
  cli/pkg/cli/auth/providers_list.go
  cli/pkg/cli/auth/update_api_configurations.go
Owners: none

Added Nous Research provider
  .changeset/dull-steaks-wave.md
  proto/cline/models.proto
  src/core/api/index.ts
  src/core/api/providers/nousresearch.ts
  src/core/storage/StateManager.ts
  src/core/storage/utils/state-helpers.ts
  src/shared/api.ts
  src/shared/proto-conversions/models/api-configuration-conversion.ts
  src/shared/storage/state-keys.ts
  webview-ui/src/components/settings/ApiOptions.tsx
  webview-ui/src/components/settings/providers/NousresearchProvider.tsx
  webview-ui/src/components/settings/utils/providerUtils.ts
Owners: @celestial-vault

Added nousresearch to cli providers codegen, re-generated providers.go
  cli/pkg/generated/providers.go
  scripts/cli-providers.mjs
Owners: none

changeset
  .changeset/rude-parks-taste.md
Owners: none

Hermes-4 model family system prompt
  package.json
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-basic.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-no-browser.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-no-focus-chain.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-no-mcp.snap
  src/core/prompts/system-prompt/__tests__/integration.test.ts
  src/core/prompts/system-prompt/index.ts
  src/core/prompts/system-prompt/variants/hermes/config.ts
  src/core/prompts/system-prompt/variants/hermes/overrides.ts
  src/core/prompts/system-prompt/variants/hermes/template.ts
  src/core/prompts/system-prompt/variants/index.ts
  src/shared/prompts.ts
  src/utils/model-utils.ts
Owners: none

<think> tag
  src/core/prompts/system-prompt/variants/hermes/overrides.ts
Owners: none

Update src/services/telemetry/providers/posthog/PostHogTelemetryProvider.ts
  src/services/telemetry/providers/posthog/PostHogTelemetryProvider.ts
Owners: none

Prompt adjustments for hermes family
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-basic.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-no-browser.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-no-focus-chain.snap
  src/core/prompts/system-prompt/__tests__/__snapshots__/test_hermes_4-no-mcp.snap
  src/core/prompts/system-prompt/variants/hermes/overrides.ts
Owners: none

Fix browser action
  src/core/api/transform/openai-format.ts
  src/core/prompts/system-prompt/spec.ts
  src/core/prompts/system-prompt/tools/browser_action.ts
Owners: none

refactor: migrate ModelDescriptionMarkdown to Tailwind CSS
  webview-ui/src/components/settings/ModelDescriptionMarkdown.tsx
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
  webview-ui/src/components/settings/RequestyModelPicker.tsx
  webview-ui/src/components/settings/common/ModelInfoView.tsx
  webview-ui/src/theme.css
Owners: none

fix: move import statement to the top in common.ts
  src/common.ts
Owners: none

fix: remove feature targeting from rulesets
  src/services/banner/BannerService.test.ts
  src/services/banner/BannerService.ts
  src/shared/ClineBanner.ts
Owners: none

feat: add background edit mode toggle setting
  proto/cline/state.proto
  src/core/controller/index.ts
  src/core/controller/state/updateSettings.ts
  src/core/storage/utils/state-helpers.ts
  src/core/task/index.ts
  src/integrations/editor/BackgroundEditProvider.ts
  src/integrations/editor/DiffViewProvider.ts
  src/shared/ExtensionMessage.ts
  src/shared/storage/state-keys.ts
  webview-ui/src/components/settings/sections/FeatureSettingsSection.tsx
  webview-ui/src/context/ExtensionStateContext.tsx
Owners: @celestial-vault

add changeset
  .changeset/eighty-houses-yell.md
Owners: none

Delete .github/workflows/publish-grpc-python.yml
  .github/workflows/publish-grpc-python.yml
Owners: @saoudrizwan, @garoth, @sjf

refactor: replace HeroUI Alert with shadcn Alert component (#7137)
  webview-ui/.storybook/themes.ts
  webview-ui/src/components/chat/task-header/CheckpointError.tsx
  webview-ui/src/components/chat/task-header/TaskHeader.stories.tsx
  webview-ui/src/components/ui/alert.tsx
  webview-ui/src/components/ui/button.tsx
  webview-ui/src/index.css
Owners: none

Delete docs/exploring-clines-tools/python-protos.mdx
  docs/exploring-clines-tools/python-protos.mdx
Owners: none

Update tired-banks-show.md
  .changeset/tired-banks-show.md
Owners: none

Package updates
  evals/package-lock.json
  evals/package.json
  standalone/runtime-files/package-lock.json
  standalone/runtime-files/package.json
  webview-ui/package-lock.json
  webview-ui/package.json
Owners: none

rename to FileEditProvider
  src/core/task/index.ts
  src/integrations/editor/FileEditProvider.ts
  webview-ui/src/components/settings/sections/FeatureSettingsSection.tsx
Owners: none

Feat/nturumel/proto-python (#7090)
  .changeset/tired-banks-show.md
  package.json
  scripts/build-python-proto.mjs
Owners: none

.github/CODEOWNERS:

/docs/
/.github/   @saoudrizwan @garoth @sjf
/README.md  @saoudrizwan @nickbaumann98
/src/core/storage/ @celestial-vault
