Repository cline/cline, pull requests merged in 2025-06, with the labels that each got.

#4139 Add prompt caching indicator to grok 3
  .changeset/seven-insects-shop.md
  src/core/controller/models/refreshOpenRouterModels.ts
Labels: size:S, lgtm

#4143 Update pricing for O3 family models
  .changeset/angry-terms-mate.md
  src/shared/api.ts
Labels: size:S, lgtm

#4101 Spruce up HistoryPreview
  webview-ui/src/components/history/HistoryPreview.tsx
Labels: lgtm

#3986 migrate focusChatInput protobus
  .changeset/famous-papayas-repair.md
  proto/ui.proto
  src/core/controller/ui/subscribeToFocusChatInput.ts
  src/core/webview/index.ts
  src/extension.ts
  src/shared/ExtensionMessage.ts
  webview-ui/src/components/chat/ChatView.tsx
  webview-ui/src/context/ExtensionStateContext.tsx
Labels: size:L, lgtm

#4127 refactor(bedrock): remove the as any and use proper type
  src/api/providers/bedrock.ts
  src/shared/proto-conversions/state/settings-conversion.ts
Labels: size:M, lgtm

#4153 fix the settings for terminal timeout
  .changeset/real-clouds-act.md
  proto/state.proto
  src/core/controller/state/updateTerminalConnectionTimeout.ts
  webview-ui/src/components/settings/TerminalSettingsSection.tsx
Labels: size:M, lgtm

#4121 extract isClaude4ModelFamily helper
  src/core/task/index.ts
  src/utils/model-utils.ts
Labels: lgtm

#4170 Remove redundant MCP notifications
  src/services/mcp/McpHub.ts
Labels: size:S, lgtm

#4171 Add a verbose flag to build-protos.js
  proto/build-proto.js
Labels: size:M, lgtm

#4137 Adding Thinking UX for Gemini
  .changeset/wet-rice-hunt.md
  package-lock.json
  package.json
  src/api/providers/gemini.ts
  src/api/transform/stream.ts
  src/shared/api.ts
  webview-ui/src/components/settings/ApiOptions.tsx
Labels: size:M, lgtm

#4185 change text
  .changeset/gold-pillows-greet.md
  webview-ui/src/components/chat/ChatTextArea.tsx
Labels: size:XS, lgtm

#4199 Generate grpc-js services and clients
  .gitignore
  proto/build-proto.js
  scripts/generate-server-setup.mjs
  src/standalone/standalone.ts
  src/standalone/utils.ts
Labels: size:L, lgtm

#4079 Terminal profile setting
  .changeset/nice-trees-ring.md
  proto/state.proto
  src/core/controller/index.ts
  src/core/controller/state/getAvailableTerminalProfiles.ts
  src/core/controller/state/updateDefaultTerminalProfile.ts
  src/core/controller/state/updateTerminalConnectionTimeout.ts
  src/core/controller/state/updateTerminalReuseEnabled.ts
  src/core/storage/state-keys.ts
  src/core/storage/state.ts
  src/core/task/index.ts
  src/integrations/terminal/TerminalManager.ts
  src/integrations/terminal/TerminalRegistry.ts
  src/shared/ExtensionMessage.ts
  src/shared/WebviewMessage.ts
  src/utils/shell.ts
  webview-ui/src/components/settings/SettingsView.tsx
  webview-ui/src/components/settings/TerminalSettingsSection.tsx
  webview-ui/src/context/ExtensionStateContext.tsx
Labels: size:XL, lgtm

#4179 Add a linter for proto files
  buf.yaml
  package-lock.json
  package.json
  proto/host/uri.proto
  proto/models.proto
  proto/ui.proto
Labels: size:M, lgtm

#4029 Mcp rich display setting
  .changeset/wild-cycles-cough.md
  proto/state.proto
  src/core/controller/index.ts
  src/core/controller/state/updateSettings.ts
  src/core/storage/state-keys.ts
  src/core/storage/state.ts
  src/shared/ExtensionMessage.ts
  src/shared/WebviewMessage.ts
  webview-ui/src/components/mcp/chat-display/McpResponseDisplay.tsx
  webview-ui/src/components/settings/FeatureSettingsSection.tsx
  webview-ui/src/components/settings/SettingsView.tsx
  webview-ui/src/context/ExtensionStateContext.tsx
Labels: size:M, lgtm

#4162 chore(bedrock): remove @anthropic-ai/bedrock-sdk
  .changeset/fuzzy-queens-double.md
  package-lock.json
  package.json
Labels: size:XS, lgtm

#4166 Fix MCP Schema support
  src/services/mcp/schemas.ts
Labels: size:M, lgtm

#3980 SAP AI Core as a Provider
  .changeset/wet-emus-breathe.md
  proto/state.proto
  src/api/index.ts
  src/api/providers/sapaicore.ts
  src/core/controller/index.ts
  src/core/storage/state-keys.ts
  src/core/storage/state.ts
  src/shared/api.ts
  src/shared/proto-conversions/state/settings-conversion.ts
  webview-ui/src/components/settings/ApiOptions.tsx
  webview-ui/src/context/ExtensionStateContext.tsx
  webview-ui/src/utils/validate.ts
Labels: size:XL, lgtm

#4229 Update developer reset to allow for resetting workspace settings.
  .changeset/grumpy-cars-report.md
  proto/state.proto
  src/core/controller/state/resetState.ts
  src/core/storage/state.ts
  webview-ui/src/components/settings/SettingsView.tsx
Labels: size:M, lgtm

#4259 Add host bridge clients for the standalone service
  .gitignore
  .vscode/launch.json
  package-lock.json
  package.json
  proto/build-proto.js
  scripts/generate-server-setup.mjs
  src/hosts/external/client/host-bridge-client.ts
  src/hosts/host-bridge-client.ts
  src/standalone/host-bridge-client-manager.ts
  src/standalone/standalone.ts
  tsconfig.json
Labels: size:L, lgtm

#4217 Solve Terminal running race conditions
  src/integrations/terminal/TerminalManager.ts
  src/integrations/terminal/TerminalProcess.ts
Labels: size:L, lgtm

#4225 Fix: clineMessages not storing all checkpoints commitHashes
  .changeset/sour-peaches-float.md
  src/core/task/index.ts
Labels: size:M, lgtm

#4111 feat: Integrate Claude Code
  .changeset/stupid-eyes-perform.md
  proto/models.proto
  proto/state.proto
  src/api/index.ts
  src/api/providers/claude-code.ts
  src/core/storage/state-keys.ts
  src/core/storage/state.ts
  src/integrations/claude-code/run.ts
  src/integrations/claude-code/types.ts
  src/shared/api.ts
  src/shared/proto-conversions/models/api-configuration-conversion.ts
  src/shared/proto-conversions/state/settings-conversion.ts
  webview-ui/src/components/settings/ApiOptions.tsx
Labels: size:L, lgtm

#4226 Fix: Race condition leading to task restoration, checkpoints issues
  .changeset/shiny-snakes-compete.md
  webview-ui/src/components/chat/ChatView.tsx
Labels: size:M, lgtm

#4264 supporting legacy search and replace blocks too
  .changeset/cyan-books-cry.md
  src/core/assistant-message/diff.test.ts
  src/core/assistant-message/diff.ts
Labels: size:L, lgtm

#4251 remove the MCP notification pop up
  src/services/mcp/McpHub.ts
Labels: size:XS, lgtm

#4243 fix: Prevent reading env variables from the users environment
  .changeset/lazy-cherries-search.md
  .eslintrc.json
  esbuild.js
  scripts/build-tests.js
  src/extension.ts
  webview-ui/.eslintrc.json
  webview-ui/src/components/chat/task-header/TaskHeader.tsx
  webview-ui/src/components/settings/SettingsView.tsx
Labels: size:M, lgtm

#4193 fix: respect selected litellm model IDs for plan & act
  .changeset/chatty-turkeys-wait.md
  src/core/controller/index.ts
Labels: size:XS, lgtm

#4273 Create task state manager class
  src/core/controller/checkpoints/checkpointRestore.ts
  src/core/controller/index.ts
  src/core/task/TaskState.ts
  src/core/task/index.ts
Labels: size:XL, lgtm

#4237 Migrate cline messages to message state handler
  src/api/retry.ts
  src/core/controller/index.ts
  src/core/task/index.ts
  src/core/task/message-state.ts
Labels: size:XL, lgtm

#3579 Fix the error when submitting remote service form
  webview-ui/src/components/mcp/configuration/tabs/add-server/AddRemoteServerForm.tsx
Labels: size:XS, lgtm

#4293 Refactoring: Move StreamingHandlers type into a common location
  scripts/generate-host-bridge-client.mjs
  src/hosts/host-bridge-client.ts
  src/hosts/vscode/client/host-grpc-client-base.ts
  src/hosts/vscode/host-grpc-handler.ts
  src/standalone/standalone.ts
  src/standalone/utils.ts
Labels: size:M, lgtm

#4296 In build-protos, create the directories while writing the files.
  proto/build-proto.js
Labels: size:M, lgtm

#3996 Migrate didBecomeVisible protobus
  .changeset/curvy-bulldogs-jog.md
  proto/ui.proto
  src/core/controller/ui/subscribeToDidBecomeVisible.ts
  src/core/webview/index.ts
  src/shared/ExtensionMessage.ts
  webview-ui/src/components/chat/ChatView.tsx
  webview-ui/src/context/ExtensionStateContext.tsx
Labels: size:L, lgtm

#4298 Use the generated client impls for the external host bridge.
  .gitignore
  proto/build-proto.js
  src/extension.ts
  src/hosts/host-bridge-client.ts
  src/standalone/host-bridge-client-manager.ts
  src/standalone/standalone.ts
  src/standalone/utils.ts
Labels: size:L, lgtm

#4222 beginning of refactoring the providers ui to be more modular
  webview-ui/src/components/chat/ChatTextArea.tsx
  webview-ui/src/components/chat/ChatView.tsx
  webview-ui/src/components/chat/task-header/TaskHeader.tsx
  webview-ui/src/components/settings/ApiOptions.tsx
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
  webview-ui/src/components/settings/README.md
  webview-ui/src/components/settings/RequestyModelPicker.tsx
  webview-ui/src/components/settings/common/ApiKeyField.tsx
  webview-ui/src/components/settings/common/BaseUrlField.tsx
  webview-ui/src/components/settings/common/ErrorMessage.tsx
  webview-ui/src/components/settings/common/ModelInfoView.tsx
  webview-ui/src/components/settings/common/ModelSelector.tsx
  webview-ui/src/components/settings/providers/MistralProvider.tsx
  webview-ui/src/components/settings/providers/OpenRouterProvider.tsx
  webview-ui/src/components/settings/utils/pricingUtils.ts
  webview-ui/src/components/settings/utils/providerUtils.ts
Labels: size:XXL, lgtm

#4320 Create a vscode specific webview provider, and an a generic webview provider class for the standalone service.
  src/core/webview/VscodeWebviewProvider.ts
  src/core/webview/index.ts
  src/extension.ts
  src/hosts/host-providers.ts
  src/standalone/ExternalWebviewProvider.ts
  src/standalone/standalone.ts
Labels: size:XL, lgtm

#4329 you know what im talking about
  src/core/controller/index.ts
  src/core/controller/ui/subscribeToMcpButtonClicked.ts
  src/core/webview/index.ts
  src/extension.ts
  src/standalone/standalone.ts
Labels: size:L

#3779 chore: add run instructions to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size:XS, lgtm

#3840 fix: omit undefined MCP server name when command is missing
  .changeset/hip-jokes-heal.md
  src/core/prompts/model_prompts/claude4-experimental.ts
  src/core/prompts/model_prompts/claude4.ts
  src/core/prompts/system.ts
Labels: size:S, lgtm

#4282 fix: preferred language setting #4281
  src/core/controller/state/updateSettings.ts
Labels: size:XS, lgtm

#4263 Fix: Add role and aria-checked attributes to plan / act mode switch so that screen readers can tell its state ( Resolves #4244 )
  .changeset/witty-poems-fetch.md
  webview-ui/src/components/chat/ChatTextArea.tsx
Labels: size:XS, lgtm

#4304 gemini 2.5 models GA update providers
  src/shared/api.ts
Labels: size:L, lgtm

#4305 gemini GA cline provider suggestion
  webview-ui/src/components/settings/OpenRouterModelPicker.tsx
Labels: size:XS, lgtm

#4325 deepseek and together provider ui refactor
  webview-ui/src/components/settings/ApiOptions.tsx
  webview-ui/src/components/settings/providers/DeepSeekProvider.tsx
  webview-ui/src/components/settings/providers/TogetherProvider.tsx
Labels: size:L, lgtm

#4323 Create tool executor class
  src/core/task/TaskState.ts
  src/core/task/ToolExecutor.ts
  src/core/task/index.ts
  src/core/task/message-state.ts
Labels: size:XXL

#4056 Add new regions to available Bedrock options
  webview-ui/src/components/settings/ApiOptions.tsx
Labels: size:XS, lgtm

#3801 Migrate fetchUserCreditsData protobus
  .changeset/friendly-flowers-drum.md
  proto/account.proto
  src/core/controller/account/fetchUserCreditsData.ts
  src/core/controller/index.ts
  src/services/account/ClineAccountService.ts
  src/shared/ClineAccount.ts
  src/shared/ExtensionMessage.ts
  src/shared/WebviewMessage.ts
  webview-ui/src/components/account/AccountView.tsx
  webview-ui/src/components/account/CreditsHistoryTable.tsx
Labels: size:L, lgtm

#3696 feat: Add `taskId`as metadata to use from LiteLLM
  .changeset/strange-paws-relate.md
  src/api/providers/litellm.ts
Labels: lgtm

#4147 #3775 remove deps clsx tailwind merge
  .changeset/blue-wasps-destroy.md
  webview-ui/package-lock.json
  webview-ui/package.json
  webview-ui/src/components/common/AlertDialog.tsx
  webview-ui/src/components/common/Tab.tsx
  webview-ui/src/components/settings/Section.tsx
  webview-ui/src/components/settings/SectionHeader.tsx
  webview-ui/src/components/settings/SettingsView.tsx
  webview-ui/src/utils/cn.ts
Labels: size:M, lgtm

#4326 Add clean script to package.json
  package-lock.json
  package.json
Labels: size:XS, lgtm

#4314 fix: Solving Context window counting issues in gemini model family
  src/api/providers/cline.ts
  src/api/providers/openrouter.ts
Labels: size:L, lgtm
