Repository cline/cline, pull requests merged in 2025-01, with the labels that each got.

#1373 Add VSCode Webview Integration Tests
  .github/workflows/test.yml
  .gitignore
  .vscode-test.mjs
  package-lock.json
  src/test/extension.test.ts
  src/test/webview/chat-native.test.ts
  tsconfig.test.json
  webview-ui/src/components/chat/ChatTextArea.tsx
Labels: In Progress

#1378 Add advanced settings button / Add setting to exclude MCP prompting
  package.json
  src/core/prompts/system.ts
  src/core/webview/ClineProvider.ts
  src/services/mcp/McpHub.ts
  src/shared/WebviewMessage.ts
  webview-ui/src/components/common/SettingsButton.tsx
  webview-ui/src/components/mcp/McpView.tsx
  webview-ui/src/components/settings/SettingsView.tsx
Labels: Enhancement, RFR

#1294 Fix: multiple terminals created
  src/integrations/terminal/TerminalManager.ts
Labels: RFR

#1421 Chore: Fix linting error
  src/integrations/debug/DebugConsoleManager.ts
Labels: RFR

#1419 Add server use only MCP setting
  package.json
  src/core/prompts/system.ts
  src/services/mcp/McpHub.ts
  src/shared/mcp.ts
Labels: Enhancement, RFR

#1450 Add disable checkpoints setting
  package.json
  src/integrations/checkpoints/CheckpointTracker.ts
Labels: RFR

#1460 Add more granular settings filtering
  src/core/webview/ClineProvider.ts
Labels: RFR

#1559 Find test files outside "test/suite"
  .vscode-test.mjs
Labels: RFR

#1577 Class Implemented
  package-lock.json
  package.json
  src/services/llm-access-control/LLMFileAccessController.test.ts
  src/services/llm-access-control/LLMFileAccessController.ts
Labels: RFR
